//RESET
// RESET
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

//IMPORT FONT
@font-face {
    font-family: 'beauregular';
    src: url('fonts/beauregular-0nlo-webfont.woff2') format('woff2'),
         url('fonts/beauregular-0nlo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//VARIABLES

//1. Colors
$softyellow: #DBCEA4;
$darkblue:#2D4E66;
$midblue:#4D7F9D;
$lightblue:#9FBED2;
$greyblue:#CBDDE6;
$grey:#E8EDEE;
$charcoal:#292f34;

//1.1 Tasks colors
$todocolumn: #66312d;
$doingcolumn: #2d5066;
$donecolumn: #2d6639;
$researchcolumn: #4b2d66;

$todotask: #e7a29d;
$doingtask: #9fc6de;
$donetask: #9fe0ad;
$researchtask: #d2b1ef;

//2. Font
$beau: 'beauregular';





//STYLE

body {
    background-color: $darkblue;

  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;

      #dark-mode-toggle {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0; 
        margin-left: 2%;
      }
      
      #dark-mode-toggle img {
        width: 24px; 
        height: auto; 
        filter: invert(80%) sepia(21%) saturate(329%) hue-rotate(160deg) brightness(89%) contrast(90%);
      }

      h1 {
        color:$grey;
        text-align:center;
        margin-top:2%;
        margin-left:2%;
        text-decoration: underline double 0.01rem $lightblue;
        font-family: $beau;
        font-weight: 100;
        font-size: 2.5rem;
        font-variant: small-caps;
        line-height:2.8rem;
    }
  }
    
  .task-form {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
    width:80%;
    height:35vh;
    margin:5%;
    margin-right:auto;
    margin-left:auto;
    border: solid 3px $midblue;
    background-color: $lightblue;
    padding:5%;

    #task-name {
      background-color: $darkblue;
      border:2px solid $greyblue;
      text-align:center;
      color:$grey;
    }

    #task-name::placeholder {
      color:$softyellow;
    }

    #task-description {
      background-color: $darkblue;
      border:2px solid $greyblue;
      text-align:center;
      color:$grey;
    }

    #task-description::placeholder {
      color:$softyellow;
    }

    #due-date {
      min-width: 126px;
      min-height: 30px;
    }

    input[type="date"] {
      background-color: $darkblue;
      border:2px solid $greyblue;
      text-align:center;
      color:$grey;
    }

    input[type="date"]::-webkit-datetime-edit-month-field {
      color:$softyellow;
    }

    input[type="date"]::-webkit-datetime-edit-day-field {
      color:$softyellow;
    }

    input[type="date"]::-webkit-datetime-edit-year-field {
      color:$softyellow;
    }

    input[type="date"]::-webkit-datetime-edit-text {
      color:$softyellow;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
      color:$softyellow;
      filter: invert(98%) sepia(5%) saturate(2076%) hue-rotate(335deg) brightness(85%) contrast(103%);
    }

    #status {
      background-color: $darkblue;
      border:2px solid $greyblue;
      text-align:center;
      color:$grey;
    }

    #add-task-btn {
      background-color: $darkblue;
      color:$lightblue;
      border:none;
    }

    #add-task-btn:hover {
      color:$grey !important;
    }
  }

  #sort {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    margin-bottom:2%;

    button {
      margin:1%;
      background-color: $lightblue;
      color:$charcoal;
      border:none;
    }
  }

  #filters {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    margin-bottom:2%;

    button {
      margin:1%;
    }

    #filter-todo-btn {
      background-color:$todotask;
      color:$charcoal;
      border:3px solid $todocolumn;
    }

    #filter-doing-btn {
      background-color:$doingtask;
      color:$charcoal;
      border:3px solid $doingcolumn;
    }

    #filter-done-btn {
      background-color:$donetask;
      color:$charcoal;
      border:3px solid $donecolumn;
    }

    #filter-research-btn {
      background-color:$researchtask;
      color:$charcoal;
      border:3px solid $researchcolumn;
    }
  }

  .task-list {
    .task-item {
      display:flex;
      flex-direction:column;
      justify-content: space-evenly;
      width:80%;
      height:35vh;
      margin:5%;
      margin-right:auto;
      margin-left:auto;
      border: solid 3px $midblue;
      background-color: $lightblue;
      padding:5%;

      h3 {
        text-align:center;
        font-family: $beau;
        font-weight: 100;
        font-size: 1.5rem;
        font-variant: small-caps;
        line-height:1.8rem;
      }
    }

    .todo {
      background-color:$todotask;
      color:$charcoal;
      border:3px solid $todocolumn;
    }

    .doing {
      background-color:$doingtask;
      color:$charcoal;
      border:3px solid $doingcolumn;
    }

    .done {
      background-color:$donetask;
      color:$charcoal;
      border:3px solid $donecolumn;
    }

    .research {
      background-color:$researchtask;
      color:$charcoal;
      border:3px solid $researchcolumn;
    }
  }
}

/* Dark mode styles */
.dark-theme {
  background-color: $lightblue ; 
  color: $charcoal; 
  
  header {
    #dark-mode-toggle {
      img {
        filter: invert(23%) sepia(8%) saturate(3452%) hue-rotate(163deg) brightness(97%) contrast(79%);
      }
    }

    h1 {
      color:$darkblue;
      text-decoration: underline double 0.01rem $midblue;
    }
  }

  .task-form {
    border: solid 3px $midblue;
    background-color: $darkblue;

    #task-name {
      background-color: $lightblue;
      border:2px solid $charcoal;
      color: $charcoal;
    }

    #task-name::placeholder {
      color:$darkblue;
    }
  }
}
//Responsive
@media screen and (min-width: 768px) {
  div.task-form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 800px;
    max-height: 150px;
  }
  #add-task-btn{ 
    max-width: 114.17px;
    max-height: 26px;
  }

  div#task-list.task-list{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
}