// RESET
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

//IMPORT FONT
@font-face {
    font-family: 'beauregular';
    src: url('fonts/beauregular-0nlo-webfont.woff2') format('woff2'),
         url('fonts/beauregular-0nlo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//VARIABLES

//1. Colors
$softyellow: #DBCEA4;
$darkblue:#2D4E66;
$midblue:#4D7F9D;
$lightblue:#9FBED2;
$greyblue:#CBDDE6;
$grey:#E8EDEE;
$charcoal:#292f34;

//1.1 Tasks colors
$todocolumn: #66312d;
$doingcolumn: #2d5066;
$donecolumn: #2d6639;
$researchcolumn: #4b2d66;

$todotask: #e7a29d;
$doingtask: #9fc6de;
$donetask: #9fe0ad;
$researchtask: #d2b1ef;

//2. Font
$beau: 'beauregular';

//STYLE

body {
    background-color: $darkblue;
    
    h1 {
        color:$grey;
        text-align:center;
        margin-top:2%;
        text-decoration: underline double 0.01rem $lightblue;
        font-family: $beau;
        font-weight: 100;
        font-size: 2.5rem;
        font-variant: small-caps;
        line-height:2.8rem;
    }

    .task-form {
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: space-evenly;
        width:80%;
        height:35vh;
        margin:5%;
        margin-right:auto;
        margin-left:auto;
        border: solid 3px $midblue;
        background-color: $lightblue;
        padding:5%;
    }

    #task-name {
        background-color: $darkblue;
        border:2px solid $greyblue;
        text-align:center;
        color:$grey;
    }

    #task-name::placeholder {
        color:$softyellow;
    }

    #task-description {
        background-color: $darkblue;
        border:2px solid $greyblue;
        text-align:center;
        color:$grey;
    }

    #task-description::placeholder {
        color:$softyellow;
    }

    input[type="date"] {
        background-color: $darkblue;
        border:2px solid $greyblue;
        text-align:center;
        color:$grey;
    }

    &::placeholder {
        color:$softyellow;
    }

    #status {
        background-color: $darkblue;
        border:2px solid $greyblue;
        text-align:center;
        color:$grey;
    }
}